
  <label for="addition-label">{{label}}:</label>
  <input class="form-input" type="text" id="addition-value" value="{{value}}" name="addition-value" />
  <button id="update-addition">Update</button>
  <button id="delete-addition">Delete</button>
