<section id="dashboard-container">
    
    <section id="meds-table-wrapper">
        <div id="title-container">
            <h1 id="title">YOUR MEDICATIONS</h1>
            <section id="addMed"><a href="/medication">Add New Medication</a></section>
        </div>
        <table>
            <tr class="table-row" id="table-headers">
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
                <th>Date Aquired</th>
                <th>Script Renewed</th>
                <th>Expiry Date</th>
            </tr>
            {{!-- Render all medications --}}
            {{#each userMeds}}
            {{> userItems}}
            {{/each}}
        </table>
    </section>
</section>


<script src="/js/formatDBMeds.js"></script>