{{!-- The page that logged in users can use to add table rows or additional information, update their rows, and so on --}}

{{!-- Imports this specific users information about the tables and rows they have created for the reminders on items they want --}}

{{!-- <div id="reminderItems"> --}}
{{!-- {{#each item}} --}}
{{!-- {{> userItems}} --}}
{{!-- {{/each}} --}}
{{!-- </div> --}}