<section id="addMed">Add New Medication</section>
<section id="meds-table-wrapper">
    <table>
        <tr id="table-headers">
            <th>Name</th>
            <th>Price</th>
            <th>Type</th>
            <th>Date Aquired</th>
            <th>Script Renewed</th>
            <th>Expiry Date</th>
        </tr>
        {{!-- Render all medications --}}
        {{#each userMeds}}
        {{> userItems}}
        {{/each}}
    </table>
    
</section>

<script src="/js/formatDBMeds.js"></script>