<div class="homepage-banner">
    <div class="homepage-space">
        <h1 class="homepage-header">Medic Manager</h1>
    </div>

    <div class="homepage-central-card">
        <div class="homepage-left-link-card">
            <h3 class="homepage-slogan">Track your medication stock with expiry emailed reminders.</h3>
            <a href="/dashboard" class="homepage-link-to-dashboard">
                <div class="homepage-button-space">
                Create Your Own Medication Manager
                </div>
            </a>
        </div>

        <div class="homepage-hero-image-right">
            <img src="/assets/images/medication-heart.jpg" class="homepage-side-img">
        </div>
    </div>

    <div class="homepage-hero-image-visible-mobile">
        <img src="/assets/images/medication-heart.jpg" class="homepage-mobile-img">
    </div>
</div>

