{{!-- Our homepage --}}

{{!-- Create layout and use partial /partial/pharmaciticals.handlebars to render other users input for pharmacitical items --}}

{{!-- EG --}}

{{!-- <div id="pharmaItems"> --}}
{{!-- {{#each item}} --}}
{{!-- {{> pharmaciticals}} --}}
{{!-- {{/each}} --}}
{{!-- </div> --}}