

{{!-- Create layout and use partial /partial/pharmaceuticals.handlebars to render other users input for pharmaceutical items --}}

{{!-- EG --}}

{{!-- <div id="pharmaItems"> --}}
{{!-- {{#each item}} --}}
{{!-- {{> pharmaceuticals}} --}}
{{!-- {{/each}} --}}
{{!-- </div> --}}


        <div class="homepage-banner">
            <div class="homepage-space">
                    <h1 class="homepage-header">Medic Manager</h1>
            </div>

                <div class="homepage-central-card">
                    <div class="homepage-left-link-card">
                        <h3 class="homepage-slogan">Track your medication stock with expiry emailed reminders.</h3>
                        <a href="/dashboard" class="homepage-link-to-dashboard">
                            <div class="homepage-button-space">
                            Create Your Own Medication Manager
                            </div>
                        </a>
                    </div>


                    <div class="homepage-hero-image-right">
                        <img src="medication-heart.jpg" class="homepage-side-img">
                    </div>
                </div>

                <div class="homepage-hero-image-visible-mobile">
                    <img src="medication-heart.jpg" class="homepage-mobile-img">
                </div>
        </div>

