{{!-- Our homepage --}}

{{!-- Create layout and use partial /partial/pharmaceuticals.handlebars to render other users input for pharmaceutical items --}}

{{!-- EG --}}

{{!-- <div id="pharmaItems"> --}}
{{!-- {{#each item}} --}}
{{!-- {{> pharmaceuticals}} --}}
{{!-- {{/each}} --}}
{{!-- </div> --}}
