{{!-- Our homepage --}}

{{!-- Create layout and use partial /partial/pharmaceuticals.handlebars to render other users input for pharmaceutical items --}}

{{!-- EG --}}

{{!-- <div id="pharmaItems"> --}}
{{!-- {{#each item}} --}}
{{!-- {{> pharmaceuticals}} --}}
{{!-- {{/each}} --}}
{{!-- </div> --}}

        <div class="homepage-banner">
            <div class="homepage-space">
                    <h1 class="homepage-header">Medic Manager</h1>
            </div>

                <div class="homepage-central-card">
                    <div class="homepage-left-link-card">
                        <h3 class="homepage-slogan">Track your medication stock with expiry emailed reminders.</h3>
                        <div class="homepage-button-space">
                            <a href="/login" class="homepage-link-to-login">Create Your Own Medication Manager</a>
                        </div>
                    </div>


                    <div class="homepage-hero-image-right">
                        <img src="../.jpg" class="homepage-side-img">
                    </div>
                </div>
        </div>