{{!-- The login page --}}

<div class="login-main-container">

  {{!-- Login Card --}}

  {{!-- Spacer --}}
  <div></div>
  <div class="login-card card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label class="label" for="email-login">Email:</label>
        <input class="form-input" type="email" id="email-login" name="email-login" />
      </div>
      <div class="form-group">
        <label class="label" for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" name="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>

  {{!-- Spacer --}}
  <div></div>

  {{!-- Signup Card --}}
  <div class="signup-card card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label class="label" for="firstName-signup">First Name:</label>
        <input class="form-input" type="text" id="firstName-signup" name="firstName-signup" />
      </div>
      <div class="form-group">
        <label class="label" for="lastName-signup">Last Name:</label>
        <input class="form-input" type="text" id="lastName-signup" name="lastName-signup" />
      </div>
      <div class="form-group">
        <label class="label" for="email-signup">Email:</label>
        <input class="form-input" type="email" id="email-signup" name="email-signup" />
      </div>
      <div class="form-group">
        <label class="label" for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" name="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>

  {{!-- Spacer --}}
  <div></div>
</div>

<script src="/js/login.js"></script>

